# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
.venv/
venv/
ENV/

# Distribución y Builds (Portable)
dist/
build/
*.spec

# Excel y Datos (Ignorar salidas, mantener plantillas)
*.xlsx
*.xls
!assets/templates/*.xlsx
!assets/templates/*.xls

# Logs y Temporales
dev_logs/
*.log
.vscode/